{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container" style="height: calc(100vh - 64px);">
    <h2>Explore Groups</h2>
    <h4>Filter by:</h4>
    <form action="/filter/" method="post">
      {% csrf_token %}
    <div class="row">
      <div class="input-field col s12 m6 l4">
        <input placeholder="Skills" name="skills" type="text">
      </div>
      <div class="input-field col s12 m6 l4">
        <input placeholder="Project Name" name="proj_name" type="text">
      </div>
      <div class="input-field col s12 m6 l4">
        <input placeholder="Group Members" name="memb_name" type="text">
      </div>
      <div class="col s12 center-align">
        <button class="btn-flat waves-effect waves-light" type="submit" name="action">Filter
          <i class="material-icons right">refresh</i>
        </button>
      </div>
    </div>
    </form>
    <!-- do something here that will filter stuff
        - skills with the chips form
        - members? in case you know someone has a project?
        - project name in case you know that for some reason
      -->
    <div class="row">
      {% for group in groups %}
        <div class="col s12 l6">
          <div class="card medium">
            <div class="card-content white-text">
              <span class="card-title">{{group.0}}</span>
              <p>{{group.1.description}}</p>
              <p> <b>Skills: </b>
                {% for skill in group.1.skills %}
                  {% if skill != group.1.skills|last %}
                    {{skill}},
                  {% else %}
                    {{skill}}
                  {% endif %}
                {% endfor %}
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Request to Join<i class="material-icons right">close</i></span>
              <div class="row">
                <form action="/join_request/{{group.0}}" method="post">
                  {% csrf_token %}
                  <div class="input-field col s12">
                    <textarea placeholder="Explain why you want to join and your qualifications." name="reasoning" class="materialize-textarea"></textarea>
                    <button class="btn-flat waves-effect waves-light" type="submit" name="action">Request
                      <i class="material-icons right">send</i>
                    </button>
                  </div>
                </form>
                
              </div>
            </div>
            <div class="card-action">
              {% if group.1.github == "" %}
                <a>Github</a>
              {% else %}
                <a href="{{group.1.github}}">GitHub</a>
              {% endif %}
              <a class="activator" href="#">Request to Join</a> <!-- make this disabled if the current
                user email is already in the pending members attribute of this group -->
              <span class="new badge" data-badge-caption="ahead"> {{ group.1.pending_members|length|add:"-1" }} </span>
              <!-- need to make this functional, in theory it would launch:
                    add the current users email to the pending_members attribute
                    of the project selected somehow -->
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
