{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="container" style="height: calc(100vh - 64px);">
    <h2>Explore Groups</h2>
    <h4>Filter by:</h4>
    <div class="row">
      <div class="input-field col s12 m6 l4">
        <div class="chips chips-autocomplete"></div>
      </div>
      <div class="input-field col s12 m6 l4">
        <input placeholder="Project Name" id="proj_name" type="text">
      </div>
      <div class="input-field col s12 m6 l4">
        <input placeholder="Group Members" id="memb_name" type="text">
      </div>
    </div>
    <!-- do something here that will filter stuff
        - skills with the chips form
        - members? in case you know someone has a project?
        - project name in case you know that for some reason
      -->
    <div class="row">
      {% for group in groups %}
        <div class="col s12 l6">
          <div class="card">
            <div class="card-content white-text">
              <span class="card-title">{{group.0}}</span>
              <p>{{group.1.description}}</p>
              <p> <b>Skills: </b>
                {% for skill in group.1.skills %}
                  {{ skill }}
                {% endfor %}
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Request to Join<i class="material-icons right">close</i></span>
              <div class="row">
                <div class="input-field col s12">
                  <textarea placeholder="Explain why you want to join and your qualifications." class="materialize-textarea"></textarea>
                </div>
              </div>
            </div>
            <div class="card-action">
              <a href="{{group.1.github}}">GitHub</a> <!-- make this disabled with
                an if that checks if the link is none so clicking doesnt break -->
              <a class="activator" href="#">Request to Join</a> <!-- make this disabled if the current
                user email is already in the pending members attribute of this group -->
              <span class="new badge" data-badge-caption="ahead"> {{ group.1.pending_members|length }} </span>
              <!-- need to make this functional, in theory it would launch:
                    add the current users email to the pending_members attribute
                    of the project selected somehow -->
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.chips').chips();
    $('.chips-autocomplete').chips({
    autocompleteOptions: {
      data: {
        'Python': null,
        'Java': null,
        'Javascript': null,
        'C++': null,
        'HTML': null,
        'CSS': null,
        'Web-Dev': null,
        'GitHub': null,
        'Selenium': null,
      },
      limit: Infinity,
      minLength: 1
    }
    });
  });

</script>
{% endblock %}
